body{
  box-sizing: border-box;
  top:-8px;
  left:-8px;
  position: relative;
}

.test {
  height:100px;
  width:100px;
  background-color: black;
}

/*// ----------- SPLASH PAGE -----------//*/

.header {
  width: 100%;
  height: 60px;
  background-color: lightgrey;
  position: fixed;
  /*opacity: 50%;*/
  z-index: 1;
  border-bottom: 1px solid darkgrey;
}

.footer {
  width: 100%;
  height: 60px;
  background-color: grey;
  position: fixed;
  bottom: 0px;
}

.footerdiv{
    margin-left: 50px;
    margin-top: -20px;
}
.footertext{
  font-size: 2em;
  font-variant: small-caps;
  font-family: helvetica;
  color: white;
}

.containerleft {
  width:50%;
  height:100vh;
  background-color: #f3f3f3;
  display: inline-block;
  margin: 0px;
  postion: relative;
}

.containerright {
  width:50%;
  height:100vh;
  /*background-color: blue;*/
  /*opacity: 0.19;*/
  display: inline-block;
  margin: 0px;
  float: right;
  position: relative;
}

.containerright:after{
  content:'';
  display: inline-block;
  background-size: cover;
  background-image: url("./resources/track.jpg");
  width:100%;
  height:100vh;
  position:absolute;
  top:0;
  left:0;
  opacity:0.19;
  float: right;
}

.trackbin{
  position: absolute;
  /*background-color: black;*/
  top: 40%;
  left: 20%;

}
h1{
  font-size: 4.5em;
  color:#4B0082;
  font-family: helvetica;
  margin: 0px;
}

.trackbutton{
  background-color: #2e1503;
  height: 100px;
  width: 19em;
  position:relative;
  border-radius: 5%;
}

.choosetracks{
  position: absolute;
  /*top: 5%;*/
  text-align: center;
  margin-left: 38px;
  font-size: 2em;
  /*font-variant: small-caps;*/
  font-family: helvetica;
  color: white;
  font-weight: 200;

}

.album{
  width: 330px;
  /*background-color:blue;*/
  height: 330px;
  margin-left: auto;
  margin-right:auto;
  margin-top:30px;
  margin-bottom:30px;
}

.top {
  background-color: red;
  margin-top: 90px;
  opacity: 1;
  position: relative;
  z-index: 1;
}

#toppic, #midpic, #botpic{
  margin-top: 0px;
  opacity: 1;
  position: relative;
  z-index: 1;
  src: url('./images/red.jpg');
  width: 330px;
  height: 330px;
}






.middle{
  background-color: blue;
  opacity: 1;
  position: relative;
  z-index: 1;
}

.bottom{
  background-color: pink;
  opacity: 1;
  position: relative;
  z-index: 1;
}
